body {
	padding: 5vw;
	box-sizing: border-box;
}
.about_acount{
	position: absolute;
	top: 20px;
	right: 50px;
	z-index: 10;
}
.about_team{
	position: absolute;
	top: 20px;
	left: 50px;
	z-index: 1000;
}
.js-game{
    position: relative;
}
canvas {
	border: 1px solid #000;
    padding: 0px !important;
}

.js-canvas{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.js-field{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
