body {
	padding: 5vw;
	box-sizing: border-box;
}
.about_acount{
	position: absolute;
	top: 20px;
	right: 50px;
	z-index: 10;
}
.about_team{
	position: absolute;
	top: 20px;
	left: 50px;
	z-index: 1000;
}
